/* @import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --primary-color: #fff;
  --secondary-color: #000;
  --tertiary-color: #cd89f1;
  --quaternary-color: #eb5ea2;
}

* {
  margin: 0;
  padding: 0;
  border: 1px solid red;
  box-sizing: border-box;
}

body {
  padding: 0;
  font-family: "Montserrat", sans-serif;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  /* height: 100vh;
  width: 100vw; */
  height: 100%;
  width: 100%;
}

/* Header Styles */
header {
  /* height: auto; */
  height: calc(4vh + 4vw);
  padding: 0 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  top: 0;
  background-image: url(../images/herobg.jpg);
  background-color: var(--secondary-color);
  background-size: cover;
  background-attachment: fixed;
  background-position: 80%;
  z-index: 9999;
}

header h1 {
  /* display: inline-block; */
  /* line-height: 1px; */
  font-weight: 800;
  /* padding: 1px 1px; */
  margin: 0;
  font-size: calc(3vh + 3vw);
  color: var(--primary-color);
}

header a {
  text-decoration: none;
  color: var(--primary-color);
}

header nav {
  margin: 1px 0;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav ul li a {
  /* margin: 0 4px; */
  padding: 1px 0.2em;
  font-weight: 300;
  font-size: calc(2vh + 2vw);
}

header nav ul li a:hover {
  background: var(--tertiary-color);
  color: var(--primary-color);
  border-radius: 0.6em;
}
/* End Header Styles */

/* Hero Styles */
.hero {
  background-image: url(../images/herobg.jpg);
  background-color: var(--secondary-color);
  background-size: cover;
  background-attachment: fixed;
  background-position: 80%;
  width: 100%;
  height: calc(100vh - calc(4vw + 4vh));
}

.hero {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
}

.name-container {
  margin: 0 5vh;
  padding-top: 20vh;
  font-weight: 100;
  font-size: 12vw;
  /* font-size: 7vw; */
  line-height: 0.9;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.hero h2 {
  padding: 0 0.05em;
}

.occupation {
  text-align: center;
  font-size: 7vw;
  font-weight: 100;
}

.hero img {
  display: block;
  margin: 0 auto;
  /* padding: 7vh 0; */
  width: 20%;
  align-self: flex-end;
}
/* End Hero Styles */

/* About Styles */
/* End About Styles */

/* Work Styles */
/* End Work Styles */

/* Contact Styles */
/* End Contact Styles */

/* Footer Styles */
/* End Footer Styles */
